$c-light-grey: #e4dae1;
$main-color: $c-light-grey;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-color;
}

.content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.is-flex {
  display: flex;

  &.direction-row {
    flex-direction: row;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.is-v-centered {
    align-items: center;
  }

  &.is-h-centered {
    justify-content: center;
  }

  &.is-v-end {
    align-items: flex-end;
  }

  &.is-h-end {
    justify-content: flex-end;
  }
}
